<style>

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

html, body {touch-action: none;}
html, body {touch-action: pan-y;}

<!--avoid invisible text-->
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

.topspacing {
}

.padding {
  height: 53.5vw;
  max-height: 610px;
  position: relative;
  
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 5%;
  right: 5%;
  width: 90%;
  height: 90%;
  max-width: 1000px;
  max-height: 562.5px;
}

iframe {
  box-shadow: 0px 0px 20px indigo;
  border-radius: 10px;
  background: #080808;
  padding: 10px;
}

.title {
  font-family: 'Pacifico', cursive;
  font-display: swap;
  color: #080808;
  text-shadow: 0px 0px 20px indigo;
  height: 20%;
  font-size: max(100%, 6vw);
  text-align: center;
  margin-bottom: 0vw;
  margin-top: -5%;
}

.radio {
  text-align: center;
  margin-top: -5%;
  margin-bottom: 5%;
  

}

body {
	background:url(https://raw.githubusercontent.com/Mestaritukki/homepage/main/media/background.webp)
	center center fixed no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #080808;
}

</style>
