<style>

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

html, body {touch-action: none;}
html, body {touch-action: pan-y;}

<!--avoid invisible text-->
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

.padding {
  height: 53.5vw;
  max-height: 610px;
  position: relative;
  
}

.title {
  font-family: 'Pacifico', cursive;
  color: #dbdbdb;
  text-shadow: 0px 0px 10px #0e003e;
  font-size: min(max(4vw), 50px);
  text-align: center;
  margin-top: min(max(100px), 20%);
}

.radio {
  position: absolute;
  bottom: 1vh;
  left: 2vw;
  bottom: 0;
  margin-bottom: 2vh;
}

.bottomtext {
  font-family: 'Pacifico', 'cursive';
  font-size: 250%;
  color: #dbdbdb;
  text-align: center;
  position: fixed;
  left: 3vw;
  bottom: 3vh;
  text-shadow: 0px 0px 10px #0e003e;
}

.auth {
  font-family: 'Pacifico', 'cursive';
  font-size: 200%;
  color: #dbdbdb;
  position: absolute;
  right: 35px;
  bottom: 0;
}


body {
  background:url(https://raw.githubusercontent.com/Mestaritukki/homepage/main/media/jarvi3.webp)
  center center fixed no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-color: #080808;
}

login-body {
  padding-top: 40px;
  padding-bottom: 40px;  
  background-color: #ADABAB;
}

 .form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
  color: #017572;
}
         
         .form-signin .form-signin-heading,
         .form-signin .checkbox {
            margin-bottom: 10px;
         }
         
         .form-signin .checkbox {
            font-weight: normal;
         }
         
         .form-signin .form-control {
            position: relative;
            height: auto;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            box-sizing: border-box;
            padding: 10px;
            font-size: 16px;
         }
         
         .form-signin .form-control:focus {
            z-index: 2;
         }
         
         .form-signin input[type="email"] {
            margin-bottom: -1px;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
            border-color:#017572;
         }
         
         .form-signin input[type="password"] {
            margin-bottom: 10px;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
            border-color:#017572;
         }
         
         h2{
            text-align: center;
            color: #017572;
       }
</style>
