<style>

<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet"> 

<!--avoid invisible text-->
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: 400;
  src: local('Pacifico Regular'), local('Pacifico-Regular'), url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2) format('woff2');
  font-display: swap;
}

.center-video {
  text-align: center;
  display: block;
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 0px 20px indigo;
  border-radius: 20px;
  background: #080808;
  padding: 10px;
}

.title {
  font-family: 'Pacifico', cursive;
  font-display: swap;
  color: #080808;
  text-shadow: 0px 0px 10px indigo;
  font-size: 300%;
  height: 100%; 
  text-align:center; 
  width: 100%;
}


.radio {
  text-align: center;
  display: block;
  margin-top: 3%;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  vertical-align: top;
  text-align: center;
}

body {
	background:url(https://raw.githubusercontent.com/Mestaritukki/homepage/main/media/background.webp)
	center center fixed no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #080808;
}

</style>
