@font-face {
    font-family: 'ice';
    src: url('https://raw.githubusercontent.com/Mestaritukki/homepage/main/media/font/ice/rubikwetpaint-regular-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}